.job-gradient::before {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 40px;
  background: linear-gradient(180deg, transparent, #f9f9f9 70%);
  opacity: 0.5;
}
